[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "themes/hugo-bearneo"]
	path = themes/hugo-bearneo
	url = https://github.com/rokcso/hugo-bearneo.git
